@font-face {
    font-family: 'DINNextLTArabic';
    font-weight: 400;
    src: url('../fonts/DINNextLTArabic/DINNextLTArabic.ttf') format('ttf'),
        url('../fonts/DINNextLTArabic/DINNextLTArabic.woff') format('woff');
}
